<nav class="navbar navbar-dark head">
    <div class="container-fluid">
        <div class="column">
            <div class="navbar-brand mb-0 h1">Patient Name : {{ patient.firstName + ' ' + patient.lastName }}</div>
            <div class="navbar-brand mb-0 h1">Patient ID : {{ patient.patientId }}</div>
        </div>
        <button type="button" class="btn btn-dark" routerLink="/home"><span class="material-icons md-18">
                home
            </span></button>
    </div>
</nav>

<div>
    <form>
        <div style="padding-left: 15px; padding-top: 5px;">
            <h5>Create New Record</h5>
            <div class="col-md-4" contenteditable="true">
                <label for="Describe">Description</label>
                <textarea class="form-control" id="Describe" rows="5" cols="5"
                    [placeholder]="'We Require Description to Medical Record'" #Description></textarea>
                <br>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="input-group">
                        <input type="file" class="form-control" id="File">
                        <button class="btn btn_css" type="button" id="inputGroupFileAddon04"
                            (click)="upload()">Upload</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </form>
</div>


<div style="margin-top: 50px; margin-right: 50px; margin-left: 50px;">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Sl. No</th>
                <th scope="col">Doctor Id</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let document of  document ; let i=index">
            <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ document.doctorId }}</td>
                <td>{{document.date }}</td>
                <td>{{ document.description }}</td>
                <td><button class="btn btn_css">View</button></td>
            </tr>
        </tbody>
    </table>
</div>